/* Estilos del body */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en los anchos */
}


table{
    text-align: center;
    background-color: cadetblue;
    margin: auto;
    border: 2px crimson solid;
}

td{
    padding: 15px;
}